
h1 {
    color: black;
    font-size: 64px;
    font-family: 'Playfair Display SC', sans-serif;
}

h2 {
    color: black;
    font-size: 40px;
    font-family: 'Playfair Display SC', sans-serif;
}

h3 {
    color: black;
    font-size: 30px;
    font-family: 'Playfair Display SC', sans-serif;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}


.mainapp {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.subtitle {
    text-align: center;
    padding-left: 10px;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 10px solid lightgray;
}

.banner {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.main {
    text-align: justify;
    height: 100%;
    min-height: 500px;
    padding: 10px;
    padding-left: 30px;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    /* border: 2px solid lightgray; */
}

.applelogo {
    height: 120px;
    width: 120px;
}

.frontpage {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.smoothieimage {
    padding-left: 5%;
    padding-right: 5%;
    height: 400px;
    width: 400px;
}

.aboutpage {
    padding-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.person {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding-bottom: 20px;
}
