
/* Fonts */

h1 {
    color: #A4D64D;
    font-size: 64px;
    font-family: 'Playfair Display SC', serif;
}

h2 {
    color: #A4D64D;
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
}

h3 {
    color: #A4D64D;
    font-size: 30px;
    font-family: 'Playfair Display SC', serif;
}

h4 {
    color: #A4D64D;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
}

p {
    color: #A4D64D;
    font-size: 18px;
    font-family: 'Playfair Display SC', serif;
}


/* Main styles */

.mainapp {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.subtitle {
    text-align: center;
    padding-left: 10px;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 15px solid #A4D64D;
    font-family: 'Playfair Display SC', serif;
}

.banner {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.main {
    text-align: justify;
    height: 100%;
    min-height: 500px;
    padding: 10px;
    padding-left: 30px;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    /* border: 2px solid lightgray; */
}

.applelogo {
    height: 120px;
    width: 120px;
}


/* Frontpage */

.frontpage {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.smoothieimage {
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    width: 400px;
    border: 5px solid #A4D64D;
    border-radius: 50px;
}

.fronttext {
    margin: 20px;
    padding: 30px;
    border: 3px solid #A4D64D;
    border-radius: 50px;
}

.fronttext > h3,
.fronttext > h2 {
    color: white;
}


/* Aboutpage */

.aboutpage {
    padding-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.person {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    max-height: 200px;
    margin-bottom: 20px;
    margin-right: 10%;
    padding: 10px;
    padding-right: 20px;
    border: 3px solid #A4D64D;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.persontwo {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    max-height: 200px;
    margin-bottom: 20px;
    margin-left: 10%;
    padding: 10px;
    padding-left: 20px;
    border: 3px solid #A4D64D;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.persontext > h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.persontext > p {
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.personimage {
    height: 200px;
    width: 200px;
}


/* Blogpage */

.blogpage {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.blogimages {
    margin-top: 50px;
}

.blogimage {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 200px;
    border: 5px solid #A4D64D;
    border-radius: 50px;
}

.blogs {
    min-width: 200px;
    max-width: 50%;
}

.blog {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 3px solid #A4D64D;
    border-radius: 50px;
}

.blog > h3,
.blog > p {
    color: white;
}


/* Recipies page */

.recipiespage {
    margin-left: 5%;
    margin-right: 5%;
}

.recipe {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-top: 20px;
}

.recipeimage {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    width: 400px;
    border: 5px solid #A4D64D;
    border-radius: 60px;
}

.recipetext {
    min-width: 50%;
    max-width: 70%;
}

.recipetext > h3 {
    color: white;
    text-align: center;
}

.rectext {
    margin-top: 20px;
    padding: 20px;
    padding-left: 30px;
    color: white;
    border: 5px solid #A4D64D;
    border-radius: 60px;
}
